<style>
  .delete-post-btn{
  visibility:hidden;
}
.card {
    background-color: #f8f9fa; 
    padding: 1rem; 
    margin: 1rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0.5rem 1rem #000000; 
    transition: all 0.2s ease-in-out; 
}



.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0.5rem 1.5rem #000000;
}

.delete-post-form:hover .delete-post-btn{
  visibility:visible;
}
</style>

<div class="row">
  <% posts.forEach(post => { %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header"> <%= post.Title %> </div>
        <div class="card-body">
          <p><b> <%= post.User.name %> </b></p>
          <p> <%= post.Description %> </p>
          <p>Votes: <%= post.votes %> </p>
          <form action="/post/upvote/<%= post._id %>" method="POST">
            <input type="submit" value="Upvote" class="btn btn-success form-control">
        </form>
        <form action="/post/downvote/<%= post._id %>" method="POST">
            <input type="submit" value="Downvote" class="btn btn-warning form-control">
        </form>
        <form action="/post/<%= post._id %>/delete" method="POST" class="delete-post-form form">
          <input type="submit" value="Delete" class="btn btn-danger delete-post-btn form-control">
      </form>
        </div>
      </div>
    </div>
  <% }); %>
</div>

